.content-container {
    display: flex;
    flex-direction: row;
    /* margin: 0 20vw; */
    border-top: 1px solid rgb(199, 199, 199);
}

.post-meta-container {
    padding: 2vh 2vw 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.post-title {
    padding-left: 2vw;
}

.post {
    max-width: 70%;
    min-width: 50%;
    /* margin: 3vh 25vw; */
    background-color: white;
    border-color: rgb(199, 199, 199);
}

.like-button {
    margin-bottom: 15%;
    overflow: hidden;
}

.liked-button {
    background-color: red;
    color: white;
}

.post-title:hover {
    /* background-color: rgb(133, 133, 133); */
    color: rgb(135, 127, 165);
    text-decoration: underline;
    cursor: pointer;
}

#post-description {
    border-style: none;
    resize: none;
    border-bottom: 1px solid rgb(168, 168, 168);
    width: 95%;
}

#post-buttons .button-template {
    margin: 1vw;
}

.post-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-icon {
    margin-right: 2%;
    padding: 1%;
    color: rgb(179, 179, 179);
}

.edit-icon:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    border-radius: 5em;
}

.comment-box {
    width: 100%;
    border-style: none;
    resize: none;
}

.post-comments {
    border-top: 1px solid rgb(199, 199, 199);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.post-comment-button {
    border-style: none;
    border-radius: 1em;
    color: rgb(30, 134, 253);
    background-color: rgba(0,0,0,0);
}

.post-comment-button:hover {
    cursor: pointer;
    /* background-color: rgb(111, 178, 255); */
    font-size: bold;
    /* color: white; */
}

.post-image {
    max-width: 30vw;
    object-fit: scale-down;
}

@media screen and (max-width: 600px) {
    p, span, button  {
        font-size: 13pt;
    }
    
    .nav-item {
        font-size: 7pt;
    }
    
    #settings-icon {
        width: 7%;
        margin-left: 3%;
    }
    
    .post {
        margin: 0;
        max-width: 100%;
    }
    .post-image {
        max-width: 100%;
    }
    .content-container {
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        font-size: 15pt;
    }
    
    #banner {
        height: 5vh;
    }

    .post-comments {
        width: 95%;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    #profile-page .post {
        width: 100%;
        margin: 3vh ;
    }
    
    #profile-posts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .post {
        width: 80%;
        margin: 1vh 0;
    }
    
    .post-image {
        max-width: 40vw;
    }

}