#profile-page {
    display: none;
    margin-top: 15vh;
    flex-direction: column;
    align-items: center;
}

#profile-info-container {
    display: flex;
    flex-direction: column;
    margin: 5vh 1vw;
    align-items: center;
    padding: 1em 4em;
    border: 1px solid rgba(99, 99, 99, 0.75);
    background-color: white;
}

#profile-info-container * {
    margin: 1vh 0;
}

/* #profile-posts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
} */

#profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
}

#followers-container * {
    padding: 1vh 2%;
    white-space: nowrap;
}

#profile-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}


#profile-following {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(99, 99, 99, 0.75);
    background-color: white;
    align-items: center;
    padding: 0 5%;
    margin: 5vh 0;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 30%;

}

#following-list {
    padding: 0;
}