#profile-page {
    display: none;
    margin-top: 15vh;
    flex-direction: column;
    align-items: center;
}

#profile-info-container {
    display: flex;
    flex-direction: column;
    /* margin: 5vh 1vw; */
    align-items: center;
    padding: 1em 4em;
    border: 1px solid rgba(99, 99, 99, 0.75);
    background-color: white;
    border-right: none;
}

#profile-info-container * {
    margin: 1vh 0;
}

/* #profile-posts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
} */

#profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
}

#followers-container * {
    padding: 1vh 2%;
    white-space: nowrap;
}

#profile-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    max-height: 300px;
}


#profile-following {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(99, 99, 99, 0.75);
    background-color: white;
    /* align-items: center; */
    padding: 0 5%;
    /* margin: 5vh 0; */
    min-width: 30%;
    max-height: 300px;
}

#following-list {
    padding-left: 0;
    overflow-y: scroll;    
    border-top: 1px solid rgba(99, 99, 99, 0.75);
    margin-top: 0;
    margin-bottom: 15%;
}

h2 {
    margin-bottom: 2%;
    color: rgb(100, 100, 100);
}

@media screen and (max-width: 600px) {
    #profile-page {
        margin-top: 4vh;
    }
    
    #profile-info-container, #profile-following {
        margin: 0;
        margin-top: 5vh;
        padding: 0 5vw;
        height: 30vh;
    }
    
    #profile-header-container span {
        font-size: 12pt;
    }
    
    #profile-following h2 {
        margin-top: 1vh;
    }
    
    #following-list .link-to-profile {
        font-size: 12pt;
        margin-top: 0.5vh;
    }
    
    .post-meta-container {
        align-items: flex-start;
    }
}


@media screen and (max-width: 900px) and (min-width: 600px) {
    
    #profile-info-container, #profile-following {
        margin: 0;
    }

    #profile-page {
        margin-top: 8%;
    }

}